endpoints:
  queryNode: http://localhost:8080/graphql
  joystreamNodeWs: ws://localhost:9944
  redis:
    host: localhost
    port: 6379
sync:
  enable: true
  downloadsDir: ./local/data
  intervals: # in minutes
    youtubePolling: 30
    contentProcessing: 1
  limits:
    dailyApiQuota:
      sync: 9500
      signup: 500
    maxConcurrentDownloads: 50
    maxConcurrentUploads: 50
    createVideoTxBatchSize: 10
    pendingDownloadTimeoutSec: 600 # 10 mins
    storage: 100G
logs:
  file:
    level: debug
    path: ./local/logs
    maxFiles: 30 # 30 days or 30 * 50 MB
    maxSize: 50485760 # 50 MB
  console:
    level: verbose
  # elastic:
  #   level: http
  #   endpoint: http://localhost:9200
  #   auth:
  #     username: elastic-username
  #     password: elastic-password
youtube:
  operationalApi:
    url: http://127.0.0.1:8889
proxy:
  url: socks5://chisel-client:1080
  chiselProxy:
    ec2AutoRotateIp: false
aws:
  endpoint: http://localhost:4566
  region: us-east-1
  credentials:
    accessKeyId: access-key-id
    secretAccessKey: secret-access-key
httpApi:
  port: 3001
  ownerKey: ypp-owner-key
joystream:
  faucet:
    endpoint: http://localhost:3002/register
    captchaBypassKey: some-random-key
  app:
    name: app-name
    accountSeed: 'example_string_seed'
  channelCollaborator:
    memberId: collaborator-member-id
    account:
      - mnemonic: 'escape naive annual throw tragic achieve grunt verify cram note harvest problem'
      # - suri: //Alice
creatorOnboardingRequirements:
  # ! Production values
  minimumSubscribersCount: 50
  minimumVideosCount: 10
  minimumVideoAgeHours: 720 # (24 hours x 30 days) 1 month
  minimumChannelAgeHours: 2160 # (3 x 24 hours x 30 days) 3 months
  minimumVideosPerMonth: 1
  monthsToConsider: 1
  # ! Development values
  # minimumSubscribersCount: 1
  # minimumVideosCount: 1
  # minimumVideoAgeHours: 1
  # minimumChannelAgeHours: 1
  # minimumVideosPerMonth: 1
  # monthsToConsider: 1
